@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	text-align: center;
}
#color {
	height: 30px;
	width: 100%;
	text-align: center;
	background: #000000;
	color: #ffffff;
}
#listInput {
	text-align: center;
	display: block;
}
#btn {
	position: relative;
	display: inline-block;
}/* CSS Document */
